body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  /* cursor: none; */
}

.boundary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Ширина на ограничената област */
  height: 300px; /* Височина на ограничената област */
  border: 2px dashed #000; /* Граница на областта (по желание) */
  border-radius: 50%; /* Прави областта кръгла */
  pointer-events: none; /* Не позволява на областта да interceptва кликове */
} 

.cursor-outer,
.cursor-inner {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #000;
  transform: rotate(45deg);
  pointer-events: none;
  transition: transform 0.1s ease-out;
}

.cursor-inner {
  width: 5px;
  height: 5px;
  border-color: #ff0000; /* Червена граница на малкия ромб */
  background-color: rgba(255, 0, 0, 0.5); /* Червен фон с прозрачност */
}

/* .text {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(-50%, -50%); 
} */

.text {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #000;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Центриране на текста */
  display: flex;
  gap: 40px; /* Разстояние между думите */
}